@CHARSET "UTF-8";

.formular_class{
	margin-right: 100px;
	margin-top: 0px;
}
body{
	font-family: 'Open Sans', 'sans-serif';
}

.content {
	margin-left: 22%;
	margin-top: 80px;
	margin-bottom: 50px;
	border: 0.5px solid;
	border-color: gray;
	padding: 10px;
	padding-left: 3%;
	padding-right: 3%;
	margin-right: 5%;
	border-radius: 5px;
}

select {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
}
select option{
	padding-left: 10px;
	padding-top: 2px;
}
select option:LAST-CHILD {
	padding-bottom: 10px;
}

.textinput{
	width: 95%;
}


input{
	margin-top: 5px;
	margin-bottom: 5px;
}

button {
	border-radius: 15px;
}

.navigation{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	width: 99%;
	top: 0;
	background-color: #36B8FF;
	border-radius: 15px;
}
.nav_seite{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	position: fixed;
	width: 20%;
	top: 100px;
	background-color: #36B8FF;
	border-radius: 15px;
}
.nav_seite li:HOVER{
	background-color: #0E87FF;
}
.nav_seite li {
	transition-duration: 0.5s;
}
.nav_seite a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 20px 20px;
}
.navigation_li{
	transition-duration: 0.5s;
	float: left;
}
.navigation_li:NTH-LAST-CHILD(2) {
	float: right;
}
.navigation_li:LAST-CHILD {
	float: right;
}
.navigation_li a{
	display: block;
	text-align: center;
	padding: 20px 40px;
	color: white;
	text-decoration: none;
}
.navigation_li:HOVER {
	background-color: #0E87FF;
}
.active{
	background-color: #EAF50B;
}
.active a{
	color: black;
}
.navigation_active{
	background-color: #EAF50B;
	float: left;
	border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
}

.input_time{
	width: 50%;
	margin-bottom: 4%;
	margin-top: 4%;	
}
.navigation_active a{
	display: block;
	text-align: center;
	padding: 20px 40px;
	color: black;
	text-decoration: none;
}
.navigation_active:NTH-LAST-CHILD(2) {
	float: right;
}
.navigation_active:LAST-CHILD {
	float: right;
}

.mybuttons{
	background-color: #e7e7e7;
	text-align: center;
	color: black;
	text-decoration: none;
	padding: 10px;
	margin: 5px;
	border: solid #e7e7e7 2px;
	font-size: 15px;
	border-radius: 5px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.mybuttons:hover{
	background-color: white;
	color: black;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.links{
	background-color: #36B8FF;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	cursor: default;
}

.links:visited{
	background-color: #36B8FF;
	text-decoration-line: none;
}
.links:hover{
	color: black;
	background-color: #EAF50B;
}

.time_output{
	width: 80%;
	text-align: left;
}
.time_output th,td {
	border-bottom: 1px solid #ddd;
}
.time_output tr:LAST-CHILD {
	border-bottom: none;
}

.mail_steps {
	display: inline-block;
	background-color: #848484;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;	
}
.mail_steps li{
	float: left;
	width: 33.2%;
	border-left: 1px solid white;
}

.mail_steps li a{
	transition: background-color 0.3s;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 10px 2px;
}

.mail_steps_active {
	background-color: #585858;
}
.mail_steps li a:HOVER:NOT(.mail_steps_active) {
	background-color: #424242;
}
.mail_steps li a:VISITED {
	text-decoration: none;
	color: black;
}

#textarea1{
	padding: 5px;
	margin-top: 10px;
}

.box-fach{
	border-color: grey;
	border-style: solid;
}

.input_text{
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 5px;
}

.detail{
	cursor: pointer;
	transition-duration: 0.5s;
}
.detail p {
	cursor: auto;
}