@CHARSET "UTF-8";

.formular_class{
	margin-right: 100px;
	margin-top: 0px;
}

body{
	font-family: 'Merriweather Sans Light', 'Merriweather Sans', sans-serif;
}

.content {
	margin-top: 10px;
	margin-bottom: 50px;
	border: 0.5px solid;
	border-color: gray;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 5px;
}

select {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
}
select option{
	padding-left: 10px;
	padding-top: 2px;
}
select option:LAST-CHILD {
	padding-bottom: 10px;
}

.textinput{
	width: 95%;
}


input{
	margin-top: 5px;
	margin-bottom: 5px;
}

button {
	border-radius: 15px;
}

.navigation{
	margin: 0;
	margin-top: 5px;
	padding: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	top: 0;
	background-color: rgba(27,37,135,1);
	border-radius: 15px;
}
.nav{
	margin: 0px;
	padding: 0px;
	top: 0;
	width: 99%;
	position: static;
}
.nav_seite{
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	position: absolute;
	top: 75px;
	width: 95%;
	background-color: rgba(27,37,135,1);
	border-radius: 15px;
	z-index:  1;
}
.nav_seite li:HOVER{
	background-color: #0b1162;
}
.nav_seite li {
	transition-duration: 0.5s;
}
.nav_seite a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 4% 20px;
}

.navigation_li{
	display: block;
	transition-duration: 0.5s;
	float: none;
	text-align: center;
	padding: 20px 50px;
	color: white;
	text-decoration: none;
}
.navigation_li:NTH-LAST-CHILD(2) {
	float: none;
}
.navigation_li:LAST-CHILD {
	float: none;
}
.navigation_li:HOVER {
	background-color: #0b1162;
}
.active{
	background-color: #e91e63;;
}
.active a{
	color: white;
}
.navigation_active{
	display: block;
	transition-duration: 0.5s;
	text-align: center;
	padding: 20px 40px;
	color: white;
	text-decoration: none;
	background-color: #e91e63;;
	float: none;
	border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
}

.input_time{
	width: 50%;
	margin-bottom: 4%;
	margin-top: 4%;	
}
.navigation_active:NTH-LAST-CHILD(2) {
	float: right;
}
.navigation_active:LAST-CHILD {
	float: right;
}

.mybuttons{
	background-color: #e7e7e7;
	text-align: center;
	color: black;
	text-decoration: none;
	padding: 10px;
	margin: 5px;
	border: solid #e7e7e7 2px;
	font-size: 15px;
	border-radius: 5px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.mybuttons:hover{
	background-color: white;
	color: black;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.links{
	background-color: rgba(27,37,135,1);
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	cursor: default;
}

.links:visited{
	background-color: rgba(27,37,135,1);
	text-decoration-line: none;
}
.links:hover{
	color: white;
	background-color: #e91e63;;
}

.time_output{
	width: 80%;
	text-align: left;
}
.time_output th,td {
	border-bottom: 1px solid #ddd;
}
.time_output tr:LAST-CHILD {
	border-bottom: none;
}

.mail_steps {
	display: inline-block;
	background-color: #e7e7e7;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;	
}
.mail_steps li{
	float: left;
	width: 24%;
	border-left: 1px solid white;
}

.mail_steps li a{
	transition: background-color 0.3s;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 10px 2px;
	cursor: not-allowed;
	pointer-events: none;
	color: #0b1162;
}

.mail_steps_active {
	background-color: rgba(27,37,135,1);
	color: white;
}
.mail_steps li a:VISITED {
	text-decoration: none;
	color: #e91e63;
}

#textarea1{
	padding: 5px;
	margin-top: 10px;
}

.box-fach{
	border-color: grey;
	border-style: solid;
}

.input_text{
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 5px;
}

.input_text_invalid{
	border-color: red;
	border-width: 2px;
}

.detail{
	cursor: pointer;
	transition-duration: 0.5s;
}
.detail p {
	cursor: auto;
}
.links2 {
	padding: 2px;
}
.links2:LINK {
	font-style: italic;
	text-decoration: underline;
	color: black;
}
.links2:HOVER {
	box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
	transition-duration: 0.5s;
}
.links2:VISITED {
	text-decoration: none;
	color: black;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 15%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: white;
	z-index: 10;
	top: 60px;
}

.dropdown-content a{
	float: none;
	color: rgba(27,37,135,1);
	text-decoration: none;
	text-align: left;
	padding: 12px 16px;
	display: block;
}

.dropdown-content a:hover{
	color: #e91e63;
}

.dropdown {
	font-size: 16px;
	outline: none;
	float: none;
	text-align: center;
	color: white;
	background-color: inherit;
	border-radius: 0px;
	border: none;
	cursor: pointer;
	display: inline-block;
}

.dropdiv {
	float: none;
	text-align: center;
	overflow: hidden;
	display: block;
	padding: 19px 40px;
}

.dropdiv_active {
	background-color: #e91e63;
}

.dropdiv:hover {
	background-color: #0b1162;
}

.dropdiv:HOVER .dropdown-content {
	display: block;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltext {
	visibility: hidden;
	background-color: #0b1162;
	color: white;
	text-align: center;
	padding: 5px 2px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	width: 200px;
	top: 0px;
	left: 105%;
	opacity: 0;
	transition: opacity 1.5s;
}

.tooltip:hover .tooltext{
	visibility: visible;
	opacity: 1;
}


/* Für Pfeile am Hinweis */
.tooltip .tooltext::after {
    content: " ";
    position: absolute;
    top: 30%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.table1 {
	width: 100%;
	border: none;
	border-collapse: collapse;
	line-height: 150%;
}

.table1 td{
	text-align: center;
}

.table1 tr:NTH-CHILD(even) {
	background-color: #dddddd;	
}

/* für responsives Design*/

#angemeldet {
	display: none;
}

#nav_button {
	position: relative;
	top: 0px;
	width: 100%;
	border: none;
	padding: 20px;
	background-color: rgba(27,37,135,1);
	border-radius: 15px;
}
/*
#nav_div:HOVER .nav_seite{
	width: 80%;
	display: block;
}*/

#nav_div{
	width: 100%;
}

@media only screen and (min-width: 1240px) {
	#angemeldet {
		display: block;
	}
	.content {
		margin-left: 7%;
		margin-top: 80px;
		margin-bottom: 50px;
		border: 0.5px solid;
		border-color: gray;
		padding: 10px;
		padding-left: 3%;
		padding-right: 3%;
		margin-right: 5%;
		border-radius: 5px;
	}
	
	#nav_button {
		display: block;
		width: 5%;
		top: 100px;
		position: fixed;
		height: 50%;
		padding-left: 1%;
	}
	.dropdown{
		float: left;
		padding: 19px 40px;
	}
	.dropdiv:HOVER .dropdown-content {
		display: block;
	}
	.dropdiv{
		float: left;
		display: inline-block;
		padding: 0px 0px;
	}
	.navigation_active{
		float: left;
	}
	.navigation_li {
		float: left;
	}
	.navigation_li:NTH-LAST-CHILD(2) {
		float: right;
	}
	.navigation_li:LAST-CHILD {
		float: right;
	}
	.navigation{
		position: static;
	}
	.nav{
		position: fixed;
	}
	.nav_seite {
		position: fixed;
		display: none;	
		width: 5%;
		top: 100px;
	}
/*	#nav_div:HOVER .nav_seite{
		width: 20%;
		display: block;
	}*/
}