<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<admin name="Administratoren" type="stringlist">yajo10@yahoo.de</admin>
	<bauarbeiten name="Bauarbeiten" type="bool">false</bauarbeiten>
	<livesystem name="Livesystem" type="bool">false</livesystem>
	<testmail name="E-Mail an die alle Mails des Testsystems gehen" type="string">jo12ya29@posteo.de</testmail>
	<exit_on_db_failure name="bei Datenbankfehler wird Skript beendet" type="bool"/>
	<dirs name="Ordner" type="category">
		<backup name="Ordner für Backups" type="string">docs/backup/</backup>
		<doc name="Ordner für Vermittlungsdokumente" type="string">docs/unterricht/</doc>
	</dirs>
	<attachement name="E-Mail-Anhänge" type="category">
		<agb name="AGBs" type="category">
			<path name="Pfad der AGBs">docs/AGB.docx</path>
			<displayed-name name="angezeigter Name der AGBs beim Versenden von Mails ">Allgemeine Geschäftsbedingungen.docx</displayed-name>
		</agb>
		<lehrernachweis name="Nachweisdokument Nachhilfelehrer" type="category">
			<path name="Pfad zum Dokument Nachweis für den Nachhilfelehrer">docs/nachweis_lehrer.pdf</path>
			<displayed-name name="angezeigter Name des Dokumentes 'Nachweis für den Nachhilfelehrer' beim Versenden von Mails">Lohnkarte-Lehrer.pdf</displayed-name>
		</lehrernachweis>
	</attachement>
	<defaultpasswd name="Vorgabewert, der beim Zurücksetzen von Passwörtern genutzt wird" type="string">hgr123</defaultpasswd>
	<contact name="Kontaktdaten" type="category">
		<homepage name="Homepage der Schülerfirma" type="string">www.hgr-web.de/schuelerfirma</homepage>
		<email name="E-Mail-Adresse der Schülerfirma" type="string">schuelerfirma@hgr-web.de</email></contact></settings>
